

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.vis-container {
    width: 854px;
    height: 480px;
}

.page {
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.pure-g {
	margin-bottom: 40px;
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}